{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us - Logistica{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5" style="margin-bottom: 6rem;">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container contact-page py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-md-6 contact-form wow fadeIn" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase">Get In Touch</h6>
                <h1 class="mb-4">Contact For Any Query</h1>
                <p class="mb-4">Ready to ship with confidence? Contact our logistics experts for personalized shipping solutions, competitive quotes, and professional guidance. We're here to help with all your transportation needs.</p>
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Your Email">
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 contact-info wow fadeIn" data-wow-delay="0.5s">
                <h6 class="text-secondary text-uppercase">Contact Info</h6>
                <h1 class="mb-4">Get In Touch</h1>
                <p class="mb-4">Connect with our logistics specialists for expert advice on shipping, customs clearance, warehousing, and supply chain solutions. We're available 24/7 to support your business needs.</p>
                <div class="d-flex mb-4">
                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle" style="width: 64px; height: 64px;">
                        <i class="fa fa-map-marker-alt text-white"></i>
                    </div>
                    <div class="ms-4">
                        <h5>Head Office</h5>
                        <p class="mb-0">Ohad Center LG B-1 30 Mall Road Lahore, Punjab, Pakistan</p>
                    </div>
                </div>
                <div class="d-flex mb-4">
                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle" style="width: 64px; height: 64px;">
                        <i class="fa fa-phone text-white"></i>
                    </div>
                    <div class="ms-4">
                        <h5>Call Us</h5>
                        <p class="mb-0">+92 329 8756 0590</p>
                    </div>
                </div>
                <div class="d-flex mb-0">
                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle" style="width: 64px; height: 64px;">
                        <i class="fa fa-envelope text-white"></i>
                    </div>
                    <div class="ms-4">
                        <h5>Mail Us</h5>
                        <p class="mb-0">Hr@syedlogistics.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->


<!-- Google Map Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Our Office</h6>
            <h1 class="mb-5">Visit Our Office</h1>
        </div>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-12 col-lg-12">
                        <div class="bg-light rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-map text-white"></i>
                                    </div>
                                    <h6 class="mb-0">Lahore</h6>
                                </div>
                            </div>
                            <p class="mb-0">Ohad Center LG B-1 30 Mall Road Lahore, Punjab, Pakistan</p>
                        </div>
                    </div>
                    
                 
                </div>
            </div>
            <div class="col-12">
                <div class="h-100 rounded">
                    <iframe class="rounded w-100" 
                    style="height: 400px;" src="https://www.google.com/maps?q=Mall+Road,+Lahore,+Pakistan&output=embed"
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Google Map End -->
{% endblock %}