<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Ohad Center LG B-1 30 Mall Road Lahore, Punjab, Pakistan</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+92 329 8756 0590</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>Info@syedlogistic.com</p>
                <div class="d-flex pt-2">

                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div> -->
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Services</h4>
                <a class="btn btn-link" href="{% url 'air_freight' %}">Air Freight</a>
                <a class="btn btn-link" href="{% url 'ocean_freight' %}">Sea Freight</a>
                <a class="btn btn-link" href="{% url 'road_freight' %}">Road Freight</a>
                <a class="btn btn-link" href="{% url 'custom_clearance' %}">Custom Clearance</a>
                <a class="btn btn-link" href="{% url 'logistics_solutions' %}">Industry solutions</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-light mb-4">Quick Links</h4>
                <a class="btn btn-link" href="{% url 'about' %}">About Us</a>
                <a class="btn btn-link" href="{% url 'contact' %}">Contact Us</a>
                <a class="btn btn-link" href="{% url 'service' %}">Our Services</a>
                <a class="btn btn-link" href="{% url 'terms' %}">Terms & Condition</a>
                <a class="btn btn-link" href="{% url 'support' %}">Support</a>
            </div>
         
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Syed Logistic</a>, All Right Reserved.
                </div>
                <!-- <div class="col-md-6 text-center text-md-end">
                    Designed By <a class="border-bottom" href="#">Mujtaba Gillani</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- Footer End --> 